
.topnav {
    overflow: hidden;
    background-color: rgb(24,24,24);
    position: relative;
    border-radius: 5px;
  }
  #myLinks{
    background-color: #494949;
    border-radius: 5px;
  }
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 20px;
    font-family: zuma;
    display: block;
  }
  
  .topnav a.icon {
    background: rgb(24, 24, 24);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #747474;
    border-radius: 5px;
    color: rgb(56, 56, 56);
  }
  
    .active {
      background-color: #fdfdfd;
      color: rgb(189, 189, 189);
    }